<section class="flex flex-col gap-5 items-center">
    <div class="text-xl text-gray-800 font-semibold">¡Nos casamos!</div>
    <div class="text-xl flex items-center gap-0 sm:gap-3">
        <span class="border-y-2 border-gray-800 w-28 text-center">SÁBADO</span>
        <span class="relative h-[140px]">
            <span class="dorado">13</span>
        </span>
        <span class="border-y-2 border-gray-800 w-28 text-center">JULIO</span>
    </div>
</section>

<style>
    .dorado{
        color:transparent;
        position: relative;
        z-index: 9999;
        
        top:30%;
        left: 0%;
        font-size:150px;
        font-family: 'Times New Roman', serif;
        letter-spacing: 5px;
        font-weight: bold;
        background-image: linear-gradient(
            to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%
        );
        -webkit-background-clip: text;
    }
</style>