---
import copas from '../../public/copas-recepcion.png'
import iglesia from '../../public/icon-iglesia.png'
---

<section class="flex flex-col items-center gap-2">
    <img class="w-32" src={iglesia.src} alt="iglesia">
    <p class="text-lg font-semibold">Parroquia San Pedro y San Pablo</p>
    <span class="font-semibold">Hora 5:00 pm</span>   
    <a class="bg-rose-400 text-gray-50 font-semibold px-4 py-1 rounded hover:bg-rose-300 active:bg-rose-800" href="https://www.google.com/maps/place/Parroquia+San+Pedro+y+San+Pablo/@8.2765181,-62.7818911,17z/data=!3m1!4b1!4m6!3m5!1s0x8dcbf8d82bbc8527:0x7f14970e4f5f106d!8m2!3d8.2765181!4d-62.7818911!16s%2Fg%2F11c0rbq_fk?authuser=0&hl=es-419&entry=ttu" target="_blank">VER MAPA</a>
</section>

<section class="flex flex-col items-center gap-2">
    <img class="w-32" src={copas.src} alt="">
    <p class="text-lg font-semibold">A continuación lo celebraremos en la</p>
    <p class="text-lg font-semibold">Urb. Caujaro</p>   
    <a class="bg-rose-400 text-gray-50 font-semibold px-4 py-1 rounded hover:bg-rose-300 active:bg-rose-800" href="https://www.google.com/maps/place/8%C2%B015'55.2%22N+62%C2%B046'58.7%22W/@8.2653314,-62.7855437,17z/data=!3m1!4b1!4m4!3m3!8m2!3d8.2653314!4d-62.7829688?hl=es&entry=ttu" target="_blank">VER MAPA</a>
</section>