---
import elsyNelson from '../../public/eyn.jpg'
---

<section class="w-full relative">
    <section class="flex flex-col items-center justify-center py-10 h-[650px] bg-cover bg-no-repeat bg-center" style={{ backgroundImage:`url(${elsyNelson.src})`}}>        
    </section>

    <div class="w-full h-full bg-gradient-to-b from-rose-200 to-black opacity-35 absolute top-0"></div>

    
</section>

