<section class="max-w-[600px] h-32 px-10 flex flex-col items-center justify-center text-gray-50 relative">
    <p class="">"Si atacan a uno, los dos harán frente.</p>
    <p>La cuerda de tres hilos no es fácil de romper."</p>
    <cite>Eclesiastés 4:12</cite>
    <div class="absolute w-full h-full bg-rose-700 opacity-35 z-[-1] top-0"></div>    
</section>