<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="novio.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>Invitación de boda</title>
	</head>
	<body class="flex justify-center">		
		<slot/>
	</body>
</html>
